# Swap two variables in one line

In [1]:
a = 5
b = 10
a, b = b, a
print(f"a = {a} and b = {b}")

a = 10 and b = 5

In [21]:
#Given a list, set the first place item (at the front of the list) to last place and vice versa.
alpha = ["A", "B", "C", "D", "E"]
alpha[0], alpha[-1] = alpha[-1], alpha[0]
alpha

['E', 'B', 'C', 'D', 'A']

# Print() with Separator

In [3]:
print(1, 2, 3, sep=' < ')

1 < 2 < 3

# Functions Applied to Functions

In [4]:
def mult_by_five(x):
    return 5 * x

def call(fn, arg):
    """Call fn on arg"""
    return fn(arg)

def squared_call(fn, arg):
    """Call fn on the result of calling fn on arg"""
    return fn(fn(arg))

print(
    call(mult_by_five, 1),
    squared_call(mult_by_five, 1), 
    sep='\n', # '\n' is the newline character - it starts a new line
)

5
25

# Higher order functions
Functions that operate on other functions are called "Higher order functions".

In [6]:
def mod_5(x):
    """Return the remainder of x after dividing by 5"""
    return x % 5

print(
    'Which number is biggest?',
    max(100, 51, 14),
    'Which number is the biggest modulo 5?',
    max(100, 51, 14, key=mod_5),
    sep='\n',
)

Which number is biggest?
100
Which number is the biggest modulo 5?
14

# Round wth -ve ndigits

In [7]:
round(4545.23561,-2)

4500.0

In [8]:
round(4555.23561,-2)

4600.0

# Boolean conversion

In [9]:
print(bool(1)) # all numbers are treated as true, except 0
print(bool(0))
print(bool("asf")) # all strings are treated as true, except the empty string ""
print(bool(""))
# Generally empty sequences (strings, lists, and other types we've yet to see like lists and tuples)
# are "falsey" and the rest are "truthy"

True
False
True
False

# Lists

In [5]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [6]:
planets[:3]

['Mercury', 'Venus', 'Earth']

In [8]:
planets[:3] = ['Mur', 'Vee', 'Ur']
planets

['Mur', 'Vee', 'Ur', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [10]:
planets[:4] = ['Mercury', 'Venus', 'Earth', 'Mars',]
planets

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

# List functions

In [24]:
print(sorted(planets))
planets

['Earth', 'Jupiter', 'Mars', 'Mercury', 'Neptune', 'Saturn', 'Uranus', 'Venus']

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

# Imaginary Numbers

In [18]:
real_num = 12
# x is a real number, so its imaginary part is 0.
print(real_num.imag)
# Here's how to make a complex number, in case you've ever been curious:
imag_num = 12 + 3j
print(imag_num.imag)

0
3.0

# Float as_integer_ratio
**as_integer_ratio()** method of float objects returns a **numerator and a denominator in the form of a tuple**

In [20]:
x = 0.125
x.as_integer_ratio()

numerator, denominator = x.as_integer_ratio()
print(f"numerator = {numerator}\ndenominator = {denominator}")

numerator = 1
denominator = 8

# List comprehensions

In [29]:
 #Return the number of negative numbers in the given list.
nums = [5, -1, -2, 0, 3]
print(len([num for num in nums if num < 0]))

#Alternative Solution
#In Python, it calculates something like True + True + False + True to be equal to 3.
print(sum([num < 0 for num in nums]))

2
2

# any function

In [30]:
help(any)

Help on built-in function any in module builtins:

any(iterable, /)
    Return True if bool(x) is True for any x in the iterable.

    If the iterable is empty, return False.

In [32]:
# Whether the given list of numbers contains at least one number divisible by 7.
nums = [12,23,56,78,3,6,9,45]
print(any([num % 7 == 0 for num in nums]))

nums = [12,23,58,78,3,6,9,45]
print(any([num % 7 == 0 for num in nums]))

True
False

# Example

In [33]:
def menu_is_boring(meals):
    """Given a list of meals served over some period of time, return True if the
    same meal has ever been served two days in a row, and False otherwise.
    """
    return bool(sum([meals[i]==meals[i+1] for i in range(len(meals)-1)]))

menu_is_boring(['veg1','veg2','veg3','nveg1','nveg2','veg3','veg3','veg1'])

True

In [34]:
menu_is_boring(['veg1'])

False

# Going between strings and lists: .split() and .join()

In [35]:
claim = "Pluto is a planet!"
words = claim.split()
words

['Pluto', 'is', 'a', 'planet!']

In [36]:
# Yes, we can put unicode characters right in our string literals :)
' 👏 '.join([word.upper() for word in words])

'PLUTO 👏 IS 👏 A 👏 PLANET!'

# format() method

In [42]:
planet = 'Pluto'
pluto_mass = 1.303 * 10**22
earth_mass = 5.9722 * 10**24
population = 52910390
# 2 decimal points   3 decimal points, format as percent separate with commas
"{} weighs about {:.2} kilograms ({:.3%} of Earth's mass). It is home to {:,} Plutonians.".format(
    planet, pluto_mass, pluto_mass / earth_mass, population,
)

"Pluto weighs about 1.3e+22 kilograms (0.218% of Earth's mass). It is home to 52,910,390 Plutonians."

# Dictionary Comprehensions

In [43]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planet_to_initial = {planet: planet[0] for planet in planets}
planet_to_initial

{'Mercury': 'M',
 'Venus': 'V',
 'Earth': 'E',
 'Mars': 'M',
 'Jupiter': 'J',
 'Saturn': 'S',
 'Uranus': 'U',
 'Neptune': 'N'}

In [44]:
# Get all the initials, sort them alphabetically, and put them in a space-separated string.
' '.join(sorted(planet_to_initial.values()))

'E J M M N S U V'

In [45]:
for planet, initial in planet_to_initial.items():
    print("{} begins with \"{}\"".format(planet.rjust(10), initial))

   Mercury begins with "M"
     Venus begins with "V"
     Earth begins with "E"
      Mars begins with "M"
   Jupiter begins with "J"
    Saturn begins with "S"
    Uranus begins with "U"
   Neptune begins with "N"